.Button {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 25px;
  background-color: rgba(77, 182, 172, 1);
  outline: none;
  color: white;
}

.Button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.Button:active {
  opacity: 0.5;
  color: white;
}
